@font-face {
    font-family: "NoirMedium";
    src: url("../fonts/Noir_medium.otf") format(opentype) tech(color-COLRv1);
}
@font-face {
    font-family: "NoirRegular";
    src: url("../fonts/Noir_regular.otf") format(opentype) tech(color-COLRv1);
}
:root {
    --stem-height: 50px;
    --stem-width: 4px;
    --pointer-width: 4px;
    --pointer-space: 15px;
    --color-h1: black;
    --color-h2: black;
    --color-h3: black;
    
}
html, body
{ 
    height: 100%;
}
@media screen and (max-width: 811px) {
    html{
        font-size: 11px;
    }
}
html{
    background-color:white;
    font-family: 'NoirMedium', Arial, sans-serif;
}
/* div.image{
    background-image: url("../img/village.jpg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:7rem;
    height: 70%;
    width: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
} */
h1{
    font-size: 3.7rem;
    text-transform: uppercase;
    /* line-height: 2.6rem; */
    text-align: center;
    color: var(--color-h1)
}
h2{
    font-size: 2.8rem;
    /* text-transform: lowercase; */
    color:var(--color-h2);
    text-align: center;
}
h3{
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-h3);
}
p{
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-family: 'NoirRegular', Arial, sans-serif;
}
section{
    width: 55rem;
    margin: auto;
    margin-bottom:5rem;
}
span.ref{
    font-style: italic;
}
div.links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}
section.citation{
    text-align: justify;
}
section.presentation{
    margin-top: 5rem;
    text-align: justify;
}
section.practical-info{
    margin-top: 5rem;
}
section.program{
    margin-top:5rem;
}
section.title{
    width: 100%;
}
section.sub-title{
    width: 100%;
    text-align: center;
}
p.program-info{
    font-style: italic;
}
section.activity{
    margin-top:5rem;
}
div.logo{
    display: flex;
    justify-content: center;
    margin: 4rem;
}
p.facilitator{
    font-style: italic;
}
.links a{
    font-size:1.3rem;
}
.program p a{
    color: black;
    text-decoration: none;
}
.program p a:hover{
    color:blueviolet;
}

@media screen and (max-width: 811px) {
    section{
        width: 30rem;

    }
}

div.image-centered{
    text-align:center;
    width: 100%;
}
img.poster{
    width: inherit;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
th {
    background-color: #f2f2f2;
}
